.App {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  position: absolute;
  text-align: center;
  width: 300px;
}

.App-header {
  background-color: white;
  box-shadow: 0px 1px 5px rgb(29 29 29 / 40%);
}

.header-image {
  margin-top: 3px;
  width: 75%;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 300px;
  overflow: scroll;
}

.App-footer {
  display: flex;
  justify-content: center;
}

.link_container {
  margin: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5%;
  padding-bottom: 2.5%;
  background-color: white;
}

.github_link {
  margin-left: 15%;
  margin-right: 15%;
}

.link{
  text-decoration: none;
  padding-top: 2%;
  color: #292929;
}